<div class="w-full pb-20 flex bg-[#042440] justify-around footer" id="about">
  <div
    class="text-white flex w-full justify-evenly py-10 px-12 gap-10 footer-l"
  >
    <div>
      <p class="text-xl text-[#91ADC5] font-['Crimson_Text']">COMPANY</p>
      <ul class="flex flex-col gap-3">
        <li>Our story</li>
        <li>Careers</li>
        <li>Blog</li>
        <li>About</li>
      </ul>
    </div>
    <div>
      <p class="text-xl text-[#91ADC5] font-['Crimson_Text']">HELP</p>
      <ul class="flex flex-col gap-3">
        <li>FAQ</li>
        <li>Terms & Conditions</li>
        <li>Privacy Policy</li>
        <li>Contact Us</li>
      </ul>
    </div>
  </div>

  <div
    class="w-full text-white flex gap-10 justify-center items-center footer-r"
  >
    <div>
      <p class="text-xl text-[#91ADC5] font-['Crimson_Text']">SOCIAL MEDIA</p>
      <ul class="flex gap-3">
        <li>
          <img src="../.../../../assets/insta.svg" alt="" />
        </li>
        <li>
          <img src="../.../../../assets/whatsapp.svg" alt="" />
        </li>
        <li>
          <img src="../.../../../assets/x.svg" alt="" />
        </li>
        <li>
          <img src="../.../../../assets/linkedin.svg" alt="" />
        </li>
      </ul>
    </div>
    <div class="mt-20 w-1/2">
      <p class="uppercase text-xl text-[#91ADC5] font-['Crimson_Text']">
        Stay updated with Us
      </p>
      <div class="flex relative justify-center items-center">
        <input
          type="text"
          name=""
          id=""
          placeholder="Your email address"
          class="py-3 px-6 w-full outline-none text-black shadow-2xl"
        />
        <button
          class="absolute text-white px-4 py-1 text-xl bg-[#12395C] right-5"
        >
          >
        </button>
      </div>
      <div class="mt-8">
        <p>Copyright © 2023 FitSnap</p>
      </div>
    </div>
  </div>
</div>
