.bell {
  width: auto;
  height: auto;
}
@media (max-width: 1000px) {
  .dash-flag,
  .dash-icon {
    display: none;
  }
  .dash {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-evenly;

    & p {
      font-size: 1rem;
    }
    & button {
      position: relative;
      margin-left: 10px;
    }
  }
  .dash-text {
    display: none;
  }
  .dash-search {
    & mat-icon {
      position: relative;
      margin-right: 5px;
      background-color: #f9fafb;
      padding: 5px 10px;
      width: auto;
      height: auto;
    }
    & input {
      display: none;
    }
  }
}
