<div class="w-full flex justify-evenly my-10 barbell gap-3">
  <div class="text-left w-full barbell-left">
    <p class="font-semibold text-xl text-[#19307E]">Bicep Development</p>
    <p class="h-[2px] bg-[#A69A2F]"></p>
    <p>
      he barbell bicep curl specifically targets the biceps brachii,
      contributing to their development and definition
    </p>
    <p class="font-semibold text-xl text-[#19307E]">Strengthen Building</p>
    <p class="h-[2px] bg-[#A69A2F]"></p>
    <p>
      The exercise allows for heavy resistance, promoting strength gains in the
      biceps and surrounding muscle groups
    </p>
  </div>
  <div class="flex justify-center items-center relative">
    <div class="w-80 h-80 bg-[#19307E] rounded-full circle shadow-2xl"></div>
    <img
      src="../../../assets/6aeb07d17aba06910b3f283d1557cc03.png"
      alt=""
      width="100%"
      class="absolute"
    />
  </div>
  <div class="text-right w-full barbell-right">
    <p class="font-semibold text-xl text-[#19307E]">
      Increased Muscle Engagement
    </p>
    <p class="h-[2px] bg-[#A69A2F]"></p>
    <p>
      By maintaining strict form and controlling the weight, you ensure that the
      biceps are doing the majority of the work, leading to better muscle
      engagement and growth.
    </p>
    <p class="font-semibold text-xl text-[#19307E]">Compound Movement</p>
    <p class="h-[2px] bg-[#A69A2F]"></p>
    <p>
      While primarily an isolation exercise for the biceps, the barbell curl
      involves other muscles to a lesser extent, such as the forearms,
      shoulders, and upper back. This makes it a compound movement that engages
      multiple muscle groups
    </p>
  </div>
</div>
