<app-navbar></app-navbar>
<div class="w-full flex flex-col justify-center items-center" id="home">
  <div class="flex w-[90%] justify-center items-center mt-24 relative">
    <img
      src="../../assets/f40312bad23d0cb8d99257f66637c1c5.jpeg"
      alt=""
      width="100%"
      class="shadow-lg rounded-md cursor-pointer"
    />
    <mat-icon
      class="bg-transparent text-[#042440] text-7xl absolute rounded-full icon-wrapper"
      >play_circle_filled</mat-icon
    >
  </div>
  <div class="my-12">
    <p class="text-center font-normal text-[1rem] text-zinc-700">
      Home > Exercise > Bicep > Barbell Bicep Curl
    </p>
  </div>
  <div
    class="text-[#233470] w-[90%] flex flex-col justify-center items-center text-center"
  >
    <p class="font-['Crimson_Text'] text-3xl">Barbell Bicep Curl</p>
    <p>
      The barbell curl is a classic and effective bicep exercise that targets
      the muscles in
      <br />
      the front of your upper arms, specifically the biceps brachii.
    </p>
  </div>
  <div class="w-[90%]">
    <app-barbell></app-barbell>
  </div>
  <div class="w-[50%] about" id="workout">
    <app-about></app-about>
  </div>
  <div class="w-full my-10" id="tracker">
    <app-download></app-download>
  </div>
  <div class="w-[90%] my-16" id="exercise">
    <app-fitness></app-fitness>
  </div>
</div>
<app-footer></app-footer>
